**/__pycache__/
.venv/
.idea/
.vscode/
**/local.db
**/test.db

# Playwright
node_modules/
**/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.pytest_cache/
.env
postgres_data/

# nodejs & typescript
**/node_modules/
**/dist/

# ollama
ollama_data/