<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/nouislider@15.7.0/dist/nouislider.min.css" rel="stylesheet">
    <style>
        .header-img {
          max-width: 40px;
        }
      </style>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <div class="row d-flex align-items-stretch">
                    <div class="col-4 d-flex justify-content-center align-items-center">
                        <img src="{{ url_for('static', path='pics/logo.jpeg') }}" class="header-img">
                    </div>
                    <div class="col-8 d-flex justify-content-center mt-auto">
                        <h4>Czech out car bot</h4>
                    </div>
                </div>
            </a>
        </div>
    </nav>

    <main id="id-main">
        <div class="alert alert-warning" role="alert" id="id-alert-tab" style="display:none">
            Default text    
        </div>

        <div class="alert alert-success" role="alert" id="id-success-message-tab" style="display:none">
            Default text    
        </div>

        {% block content %}{% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</body>
</html>
