{% extends 'base.html' %}

{% block content %}

{% for search in searches %}
<div class="card shadow-sm my-3 mx-2">
    <div class="card-body">
        <h5 class="card-title">Search #{{ search.id }}</h5>
        <p class="card-text mb-1"><strong>Car Model ID:</strong> {{ search.car_model_id }}</p>
        <p class="card-text mb-1"><strong>PSC Code:</strong> {{ search.psc_code }}</p>
        <p class="card-text mb-2"><strong>PSC KM Range:</strong> {{ search.psc_km_range }}</p>

        <p class="card-text"><strong>Attributes:</strong></p>
        <ul class="mb-3">
            {% for key, val in search.attributes.items() %}
                <li><strong>{{ key }}:</strong> {{ val }}</li>
            {% endfor %}
        </ul>

        <form method="post" action="/delete_search/{{ search.id }}/{{ search.user_id }}" class="d-inline">
            <button type="submit" class="btn btn-outline-danger btn-sm">
                🗑️ Delete
            </button>
        </form>
    </div>
</div>
{% endfor %}

<!-- ➕ Create New Car Search -->
<div class="d-grid mx-2 mt-4">
    <a href="/create_search" class="btn btn-primary btn-lg mt-4">
        Create New Car Search
    </a>
</div>

<div class="my-3"></div>

<script type="module">
    import { show_alert_message, show_success_message } from "../static/js/utils.js"

    const new_search_created = {{ new_search_created | tojson }};
    const search_already_exists = {{ search_already_exists | tojson }};

    if (new_search_created === true) {
        show_success_message("New search successfully created!");
    }

    if (search_already_exists) {
        show_alert_message("Attempted search alreay exists ¯\\_(ツ)_/¯");
    }     
</script>


{% endblock %}