{% extends 'base.html' %}

{% block content %}

<div class="container text-center" id="id-main-container">
    <form id="id-submit-search-form" onsubmit="return validate_search_form()">
        <div class="row mx-3 mt-3">
            <h5>Submit new search for car of your dreams!</h5>
        </div>
        <div class="row mx-3">
            <select class="form-select my-3" name="manufacturer" id="id-manufacturer" required>
                <option selected>Select car manufacturer!</option>
                {% for m in car_manufacturers %}
                    <option value="{{ m }}">{{ m }}</option>            
                {% endfor %}
            </select>
        </div>
        <div class="row mx-3">
            <select class="form-select my-3" name="model" id="id-model" disabled="true" required> 
                <option selected>Select model!</option>
            </select>
        </div>
        <div class="row mx-3 mb-3" id="id-row-with-attributes">
            <label for="id-attributes" class="form-label">Type here optional attributes: </label>
            <div class="row mb-1">
                <div class="col-8">
                    <textarea class="form-control" id="id-attributes-0" n="0" rows="1" placeholder="M paket, 2.0 TDI"></textarea>
                </div>
                <div class="col-2">
                    <button class="btn btn-success" type="button" id="id-attributes-0-submit-btn" n="0">✓</button>
                </div>
            </div>
        </div>
        <div class="row mx-3 my-3">
            <label for="id-slider-year" class="form-label">
                <div class="row">
                    <div class="col">
                        Year range: 
                    </div>
                    <div class="col">
                        <input type="number" class="form-control form-control-sm" id="id-input-year-range-from" required>
                    </div>
                    <div class="col">
                        <input type="number" class="form-control form-control-sm" id="id-input-year-range-to" required>
                    </div>
                </div>
            </label>
            <div id="id-slider-year"></div>                
        </div>
        <div class="row mx-3 my-3">
            <label for="id-slider-mileage" class="form-label">
                <div class="row">
                    <div class="col">
                        Mileage range (km): 
                    </div>
                    <div class="col">
                        <input type="number" class="form-control form-control-sm" id="id-input-mileage-range-from" required>
                    </div>
                    <div class="col">
                        <input type="number" class="form-control form-control-sm" id="id-input-mileage-range-to" required="true">
                    </div>
                </div>
            </label>
            <div id="id-slider-mileage"></div>
        </div>
        <div class="row mx-3 my-3">
            <label for="id-slider-price" class="form-label">
                <div class="row">
                    <div class="col">
                        Price range (Kč):
                    </div>
                    <div class="col">
                        <input type="number" class="form-control form-control-sm" id="id-input-price-range-from" required="true">
                    </div>
                    <div class="col">
                        <input type="number" class="form-control form-control-sm" id="id-input-price-range-to" required="true">
                    </div>
                </div>
            </label>
            <div id="id-slider-price"></div>
        </div>
        <div class="row mx-3 my-3">
            <label for="id-psc-code" class="form-label">Enter PSČ</label>
            <textarea class="form-control" id="id-psc-code" name="psc-code" rows="1"></textarea>
        </div>
        <div class="row mx-3 my-3">
            <label for="id-psc-km-range" class="form-label">km range from PSČ</label>
            <input type="number" id="id-psc-km-range" name="psc-km-range" class="form-control" min="0" step="5">
        </div>
        <div class="row mx-3 my-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<script src="{{ url_for('static', path='js/populate_models_field__create_search_form.js') }}"></script>

<script type="module">
    const currentYear = new Date().getFullYear();
    var slider_year = document.getElementById('id-slider-year');
    var input_year_from = document.getElementById('id-input-year-range-from');
    var input_year_to = document.getElementById('id-input-year-range-to');
    var slider_mileage = document.getElementById('id-slider-mileage');
    var input_mileage_from = document.getElementById('id-input-mileage-range-from');
    var input_mileage_to = document.getElementById('id-input-mileage-range-to');
    var slider_price = document.getElementById('id-slider-price');
    var input_price_from = document.getElementById('id-input-price-range-from');
    var input_price_to = document.getElementById('id-input-price-range-to');
    var attributes_idx = 1;
    var btn_submit_first_attribute = document.getElementById('id-attributes-0-submit-btn');
    var attributes = document.getElementById('id-row-with-attributes');

    var list_sliders = [slider_year, slider_mileage, slider_price];
    var list_from = [input_year_from, input_mileage_from, input_price_from];
    var list_to = [input_year_to, input_mileage_to, input_price_to];
    var list_show = [[1990, 2010], [50000, 200000], [50000, 100000]];
    var list_range = [[1950, currentYear], [0, 500000], [0, 1000000]]

    function create_slider(slider, show, range, step, input_from, input_to) {
        noUiSlider.create(slider, {
            start: [show[0], show[1]],
            connect: true,
            range: {
                "min": range[0],
                "max": range[1]
            },
            step: step,
            format: {
                to: function (value) {
                    return Math.round(value);
                },
                from: function (value) {
                    return Number(value);
                }
            }
        });
        slider.noUiSlider.on("update", function (values, handle) {
            if (handle === 0) {
                input_from.value = Math.round(values[0])
            } else {
                input_to.value = Math.round(values[1])
            }
        });
        input_from.addEventListener('change', function() {
            slider.noUiSlider.set([this.value, null])
        });
        input_to.addEventListener('change', function() {
            slider.noUiSlider.set([null, this.value])
        });
    }

    list_sliders.forEach((slider, i) => {
        create_slider(slider, list_show[i], list_range[i], 1, list_from[i], list_to[i]);
    })

    function construct_new_attribute() {
        const rowDiv = document.createElement("div");
        rowDiv.classList.add("row");
        rowDiv.classList.add("mb-1");
        rowDiv.id = `id-added-attribute-${attributes_idx}`;

        const textareaDiv = document.createElement("div");
        textareaDiv.classList.add("col-8");
        const sbmtBtnAreaDiv = document.createElement("div");
        sbmtBtnAreaDiv.classList.add("col-2");
        const dltBtnAreaDiv = document.createElement("div");
        dltBtnAreaDiv.classList.add("col-2");

        const textarea = document.createElement("textarea");
        textarea.classList.add("form-control");
        textarea.setAttribute("rows", 1);
        textarea.setAttribute('placeholder', "M paket, 2.0 TDI")
        textarea.id = `id-attributes-${attributes_idx}`;
        textarea.setAttribute("n", attributes_idx);
        textareaDiv.appendChild(textarea);

        const submit_attr_btn = document.createElement('button');
        submit_attr_btn.classList.add('btn', 'btn-success');
        submit_attr_btn.id = `id-attributes-${attributes_idx}-submit-btn`;
        submit_attr_btn.setAttribute("n", attributes_idx);
        submit_attr_btn.setAttribute("type", "button");
        submit_attr_btn.addEventListener('click', add_new_attribute);
        submit_attr_btn.textContent = "✓";
        sbmtBtnAreaDiv.appendChild(submit_attr_btn);

        const delete_attr_btn = document.createElement('button');
        delete_attr_btn.classList.add('btn', 'btn-danger');
        delete_attr_btn.id = `id-attributes-${attributes_idx}-delete-btn`;
        delete_attr_btn.setAttribute("n", attributes_idx);
        delete_attr_btn.setAttribute("type", "button");
        delete_attr_btn.addEventListener('click', delete_attribute);
        delete_attr_btn.textContent = "X";
        dltBtnAreaDiv.appendChild(delete_attr_btn);

        rowDiv.appendChild(textareaDiv);
        rowDiv.appendChild(sbmtBtnAreaDiv);
        rowDiv.appendChild(dltBtnAreaDiv);

        attributes_idx = attributes_idx + 1;
        return rowDiv;
    }

    function add_new_attribute(event) {
        var new_row = construct_new_attribute();
        attributes.appendChild(new_row);

    }

    function delete_attribute(event) {
        var n = event.target.getAttribute('n');
        var row_to_delete = document.getElementById(`id-added-attribute-${n}`);
        row_to_delete.remove();
    }

    btn_submit_first_attribute.addEventListener('click', add_new_attribute);

    function validate_search_form() {
        var form = document.forms[0];
        var psc_code = form['psc-code'];
        var psc_km_range = form['psc-km-range'];
        if (/^[0-9\s]{5,}$/.test(psc_code.value) === false) {
            // TODO: make alert with message
            return false;
        }
        if (psc_code.value.length > 0 && psc_km_range.value.length === 0){
            psc_km_range.value = "10";
        }
        return true;
    }

</script>

{% endblock %}